
.alto_fondo{
    height: auto;
}

.content-img{
    height: 250px;
    margin-bottom: 20px;

}

/* animacion por aparicion  */
.animacion_zoom_galeria { 
    animation: zoomInOut 1s;
}

@keyframes zoomInOut {
    0% {
        transform: scale(0.5);
    } 
    100% {
        transform: scale(1);
    }
}
